/*--------------------------------------------------------------
Post Metaboxes
--------------------------------------------------------------*/
#poststuff .cmb-group-title {
	margin-left: -1em;
	margin-right: -1em;
	min-height: 1.5em;
}

#poststuff .repeatable .cmb-group-title {
	padding-left: 2.2em;
}

.cmb2-postbox, .cmb-type-group {
	.cmb2-wrap {
		margin: 0;

		>.cmb-field-list>.cmb-row {
			padding: .8em 0;
		}

		input[type=text] {

			&.cmb2-oembed {
				width: 100%;
			}
		}
	}
/* overall row that holds a field */
	.cmb-row {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

		.cmbhandle {
			right: -1em;
			position: relative;
		}
	}

	.cmb-repeatable-grouping {
		padding: 0 1em;
		max-width: 100%;
		min-width: 1px !important;
	}

	.cmb-repeatable-group>.cmb-row {
		padding-bottom: 0;
	}
    /* contains the label */
	.cmb-th {
        flex-grow: 1;
        min-width: 8vw;
        float:right;
        padding: 1vw;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items:center;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        & label{
            padding: .5vw;
            text-align: center;
            vertical-align: top;
            -webkit-transform-origin-x: center;
            -webkit-transform-origin-y: center;
            transform: rotateZ(-90deg);
            font-size: 0.9rem;
            min-width: 100%;
            color: lighten($dark-gray, 40%);
            font-family: $primary-font;
         }
	}
    /* contains the field and the description  is a flex item and a flex parent */
	.cmb-td {
        min-height: 180px;
        flex-grow: 8;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        min-width: 40vw;
		margin-bottom: 0;
		padding: 0;
        line-height: 1.3;
        .cmb2-metabox-description {
            align-self: flex-end;
        }

	}

	.cmb-repeat-row .cmb-td {
		padding-bottom: 1.8em;
	}

	.cmb-th+.cmb-td {}

	.cmb-row:not(:last-of-type),
	.cmb-repeatable-group:not(:last-of-type) {

		@media (max-width: $mobile-break) {
			border-bottom: 0;
		}
	}

	.cmb-repeat-group-field,
	.cmb-remove-field-row {
		padding-top: 1.8em;
	}

	.cmb2-metabox>.cmb-row {
		&.table-layout, .cmb-row.table-layout {
			.cmb-repeat-table .cmb-tbody {
				// display: table;
				width: 100%;

				input.regular-text {
					width: 100%;
				}

				.cmb-row:not(.hidden):not(.empty-row) {
					// display: table-row;
				}

				.cmb-td {
					// display: table-cell;
					float: none;
					width: 100%;
				}

				.cmb-row:not(:first-of-type) .cmb-td {
					padding-top: 1.8em;
				}

				.cmb-td.cmb-remove-row {
					padding-right: 0;
				}
			}
		}
	}
}
