//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Mobile break-point
$mobile-break : 450px;

// Fonts
$font-sans : -apple-system, BlinkMacSystemFont, sans-serif;
$font-serif : Georgia, Times, "Times New Roman", serif;
$font-mono : "Courier 10 Pitch", Courier, monospace;
$font-size : 16px;

// Colors
$dark-gray : #515153;
$gray : #aaaaaa;
$light-gray : #e9e9e9;
$blue : #0273b9;
$light-yellow : #fffff8;
$light-yellow : #fffff8;
$yellow: rgb(255, 204, 102);
$bg_metabox: rgba(255, 204, 102, .3);
$fuchsia: #eb1777;
$white : #ffffff;
$red : #f00;
$dark-red : #a00;
